
.code {
  display: flex;
  width: 40%;
  height: 68%;
  padding: 0;
  margin-left: 20px;
  border-right: 2px solid #ddd;
  overflow: hidden;
}

.code-input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  overflow: auto;
  font-family: monospace;
  white-space: pre-wrap;
  resize: none;
  overflow: auto;
}

.CodeMirror {
  font-size: 18px;
  height: 50% !important;
}

.highlight {
  background-color: #428BCA;
  color: white !important;
  font-weight: bold;
  font-style: italic;
}

.next {
  background-color: #f5f500;
  color: black !important;
  font-weight: bold;
  font-style: italic;
}

.invalid {
  background-color: rgb(255, 0, 0);
  color: white !important;
  font-weight: bold;
  font-style: italic;
}

.code-and-status {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100vh;
}

.inout-container {
  background-color: #dadada;
}

.cpu-status {
  margin-top: 0px;
  margin-bottom: 12px;
  padding: 5px;
  /* border-top: 1px solid #ddd; */
  font-family: Arial, sans-serif;
  font-size: 1.2em;
  font-weight: bold;
}

.cpu-ok {
  color: green;
}

.cpu-nok {
  color: white;
  background-color: red;
}

.input {
  padding: 5px;
  font-size: 1.2em;
  margin-left: 5px;
}

.inout {
  margin: 5px;
  margin-left: 0px;
  padding: 10px;
  color: black;
  font-weight: bold;
}

.inout-highlight {
  background-color: #428BCA;
  color: white;
  padding: 5px 2px 5px 2px;
  font-size: 1.2em;
}

.input-container {
  display: flex;
  align-items: center;
}

.input {
  flex: 1;
}

.user-output {
  font-size: 1.5em;
}
