body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: white;
    background-color: #333;
    padding: 10px;
}

.setCode{
    background-color: #306797;
    color: white;
    padding: 5px 10px;
    display: inline-block;
    font-size: 0.7em;
    margin: 10px 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.setCode:hover {
    background-color: #428BCA;
    transform: scale(0.95);
}

.instruction {
    margin: 20px 5px 20px 5px;
}

.instruction code {
    display: block;
    padding: 10px;
    background: #2d2d2d;
    color: #f8f8f2;
    border-radius: 4px;
    font-family: 'Courier New', Courier, monospace;
    white-space: pre-wrap;
}

.instruction p {
    margin: 0;
    font-weight: bold;
    color: #333;
}

pre {
    display: block;
    padding: 7px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.4;
    color: #333;
    word-break: break-word;
    overflow-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
    white-space: pre-wrap;
    font-size: 1.2em;
}
