.buttonsLine {
    background-color: #428BCA;
    padding: 20px;
    padding-left: 80px;
    display: flex;
    justify-content: space-between;
}

button {
    margin-left: 10px;
    font-size: 1.2em;
    transition: background-color 0.5s ease;
    border: 2px solid transparent;
}

button:hover {
    box-shadow: 0 0 0 2px black;
    cursor: pointer;
}

.button-group {
    display: flex;
  }
  
  .button-group.left {
    margin-right: auto; /* Tlačítka na začátku řádku */
  }
  
  .button-group.right {
    margin-left: auto; /* Tlačítka na konci řádku */
  }

.run {
    background-color: hsl(119, 34%, 49%);
    padding: 10px;
    border-radius: 10px;
    border: none;
    color: white;
}

.run:hover {
    background-color: hsl(119, 34%, 40%);
}

.step {
    background-color: hsl(60, 100%, 50%);
    padding: 10px;
    border-radius: 10px;
    border: none;
}

.step:hover {
    background-color: hsl(60, 100%, 40%);
}

.reset {
    color: white;
    background-color: hsl(7, 100%, 50%);
    padding: 10px;
    border-radius: 10px;
    border: none;
}

.reset:hover {
    background-color: hsl(7, 100%, 40%);
}

.info {
    color: white;
    background-color: hsl(27, 98%, 54%);
    padding: 10px;
    border-radius: 10px;
    border: none;
}

.info:hover {
    background-color: hsl(27, 98%, 42%);
}

.catchMe {
    color: white;
    background-color: hsl(196, 98%, 54%);
    padding: 10px;
    border-radius: 10px;
    border: none;
    transition: all 0.1s ease;
}

.link {
    text-decoration: none;
    color: white;
}